.cuma {
    /* Choose the animation */
    animation-name: Cuma;
    /* The animation’s duration */
    animation-duration: 10000ms;
    /* The number of times we want
        the animation to run */
    animation-iteration-count: infinite;
    /* Causes the animation to reverse
        on every odd iteration */
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}  
/* @keyframes OpacityCuma {
	0% {
        opacity: 0;
	}
	50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */
.cuma{
    position: absolute;
    top:50%;
    left:44%;
    width:15%;
    max-height:100%;
}
@keyframes Cuma {
	0% {
        content:url("../img/index/cuma1.png");
    }
    100% {
        content:url("../img/index/cuma2.png");
	}
}

.cuma_show{
    will-change: contents;
    /* Choose the animation */
    animation-name: cumashow;
    /* The animation’s duration */
    animation-duration: 7000ms;
    /* The number of times we want
    the animation to run */
    animation-iteration-count: 1;
    /* Causes the animation to reverse
        on every odd iteration */
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes cumashow {
	0% {
        content:url("../img/game/1.png");
        transform: translateY(100%);
        opacity: 0;
    }
    5%{
        content:url("../img/game/1.png");
        transform: translateY(10%);
        opacity: 1;
    }
    15%{
        content:url("../img/game/2.png");
        transform: translateY(10%);
        opacity: 1;
    }
    20%{
        content:url("../img/game/3.png");
    }
	50% {
        content:url("../img/game/4.png");
    }
    55% {
        content:url("../img/game/5.png");
        transform: translateY(10%);
    }
    70% {
        content:url("../img/game/5.png");
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        content:url("../img/game/5.png");
        transform: translateY(100%);
        opacity: 0;
	}
}
#cuma_div{
    position: absolute;
    top: 70%;
    right:20%;
    width:20%;
    height: 30%;
    z-index: inherit;
    overflow: hidden;
}