#container6 {
    position: relative;
    display: grid;
    top: 7.5%;
    left: 15%;
    width: 80%;
    height: 30%;
    margin: 0%;
    grid-template-columns: 17% 17% 17%;
    grid-template-rows: repeat(auto-fit,minmax(30%,auto));
    grid-column-gap: 17%;
    grid-row-gap: 0%;
}
#container6_ {
    position: relative;
    display: grid;
    top: 18%;
    left: 17%;
    width: 70%;
    height: 30%;
    margin: 0%;
    grid-template-columns: 17% 17% 17%;
    grid-template-rows: repeat(auto-fit,minmax(30%,auto));
    grid-column-gap: 21%;
    grid-row-gap: 0;
}
.item>p{
    position: absolute;
    top:10%;
    width: 100%;
}
.item{
    text-align: center;
}