.object {
    position: relative;
    display: grid;
    top: 5%;
    left: 20%;
    width: 70%;
    height: 80%;
    margin: 0%;
    grid-template-columns: 17% 17% 17%;
    grid-template-rows: repeat(auto-fit,minmax(30%,auto));
    grid-column-gap: 17%;
    grid-row-gap: 0%;
}
.item>p{
    position: absolute;
    top:10%;
    width: 100%;
}
.item{
    text-align: center;
}