*{
    margin: 0px;
    padding: 0px;
}
h1 {
    background-color: #EFFBF5;
}
html, body, #index{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display:block;
    position: absolute;
}
.background{
    position: fixed;
    top:0px;
    left:0px;
    padding: 0px;
    margin: 0px;
    z-index: -3000;
}
.background{
    max-width: 100%;
    height: auto;
}
.item>*:not(.background){
    max-width: 100%;
    height: auto;
    text-align: center;
}
.container {
    display: grid;
    width:100%;
    height:100%;
    padding: 10%;
    margin: 0%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit,minmax(45%,auto));
    grid-gap: 3%;
}
.item{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    position: relative;
}
.bt{
    position: absolute;
    width: 10%;
    max-height: 30%;
    z-index: 1000;
}
.bttop{
    top: 2%;
}
.btbottom{
    bottom: 2%;
}
.btleft{
    left: 2%;
}
.btright{
    right: 2%;
}
iframe{
    position: absolute;
    top: 0%;
    left:0%;
    z-index: -1000;
    width: 100%;
    height: 100%;
    border: blue;
}
.none{
    display:none;
}
.hidden{
    /* visibility: hidden; */
    opacity: 0%;
}
p#content{
    font-size: 180%;
}
div#content_box{
    position: fixed;
    width:100%;
    text-align: center;
    z-index:-300;
}
