.object {
    position: relative;
    top: 24%;
    left: 3%;
    display: grid;
    width: 90%;
    height: 40%;
    margin: 0%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fit,minmax(10%,auto));
    grid-gap: 10%;
}
.paintAction{
    
}
.item{
    width: 100%;;
}
.item>p{
    position: absolute;
    top:60%;
    width: 100%;
}
.temp_size{
    grid-gap:21% !important;
}